<a href="https://colab.research.google.com/github/comicom/algorithm_python/blob/master/Implementation/startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

왕실의 나이트
게임 개발

# **상하좌우**

여행가 A는 N x N 크기의 정사각형 공간 위에 서 있다. 이 공간은 1 x 1 크기의 정사각형으로 나누어져 있다. 가장 왼쪽 위 좌표는 (1, 1)이며, 가장 오른쪽 아래 좌표는 (N, N)에 해당한다. A는 상, 하, 좌, 우 방향으로 이동할 수 있으며, 시작좌표는 항상 (1, 1)이다. 최종 도착 좌표를 출력하시오.

- L: left
- R: right
- U: up
- D: down

<<입력예시>>

5

R R R U D D

<<출력예시>>

3 4

In [5]:
N = int(input())
move = input().split(' ')
x, y = 1, 1
for m in move:
  if m == 'L':
    if y == 1:
      pass
    else:
      y -= 1
  elif m == 'R':
    if y == N:
      pass
    else:
      y += 1
  elif m == 'U':
    if x == 1:
      pass
    else:
      x -= 1
  elif m == 'D':
    if x == N:
      pass
    else:
      x += 1

print(str(x) + ' ' + str(y))

5
R R R U D D
3 4

# **시각**

정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하시오. 예를 들어 1을 입력했을 때 다음은 3이 하나라도 포함되어 있으므로 세어야 하는 시각이다.

In [16]:
N = input()
if int(N)<10: N='0'+N

h, m, s = '00', '00', '00'
time = h+m+s
count = 0

while time!=N+'5959':
  if '3' in time:
    count += 1
  if s != '59':
    s=str(int(s)+1)
    if int(s)<10: s='0'+s
  else:
    s='00'
    if m != '59':
      m=str(int(m)+1)
      if int(m)<10: m='0'+m
    else:
      m='00'
      h=str(int(h)+1)
      if int(h)<10: h='0'+h
  time = h+m+s

print(count)

5
11475

# **숫자 카드 게임**

# **1이 될 때까지**