<a href="https://colab.research.google.com/github/comicom/algorithm_python/blob/master/sort/startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **위에서 아래로**

수열을 내림차순으로 정렬하는 프로그램

---

--입력예시--

3
15
27
12

--출력예시--

27 15 12

In [6]:
N = int(input())
numbers = []

for i in range(N):
  numbers.append(int(input()))

output = sorted(numbers,reverse=True)
for o in output: print(o,end=' ')

3
15
27
12
27 15 12

# **성적인 낮은 순서로 학생 출력하기**

성적이 낮은 순서대로 학생 이름 출력

---

--입력예시--

2

홍길동 95

이순신 77

--출력예시--

이순신 홍길동

In [8]:
N = int(input())
students = []

for i in range(N):
  students.append(tuple(input().split(' ')))

output = sorted(students,key=lambda data:data[1])

for o in output:
  print(o[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

# **두 배열의 원소 교체**

N개의 원소로 구성되어 있는 두 배열 A, B는 최대 K번 바꿔치기 연산을 수행할 수 있다. 바꿔치기 연산이란 배열 A에 있는 원소 하나와 배열 B에 있는 원소 하나를 골라서 서로 바꾸는 것을 의미한다. 최종목표는 배열 A의 모든 원소의 합이 최대가 되도록 하는 것이다.

---

--입력예시--

5 3
1 2 5 4 3
5 5 6 6 5

--출력예시--

26

In [12]:
N, K = map(int,input().split(' '))
list_A = list(map(int,input().split(' ')))
list_B = list(map(int,input().split(' ')))

list_A.sort()
list_B.sort(reverse=True)

output = 0
for i in range(N):
  if i<K:   output+=list_B[i]
  else:     output+=list_A[i]

print(output)

5 3
1 2 5 4 3
5 5 6 6 5
[1, 2, 3, 4, 5]
[6, 6, 5, 5, 5]
26